<main class="container bg-light">
  <h3>How to use</h3>
  <hr>
  <b>Encrypt</b>
  <span> - to change electronic information or signals into a secret code (= system of letters, numbers, or symbols) that people cannot understand or use on normal equipment</span>
  <br><br>
  <b>Decrypt</b>
  <span> - to change electronic information or signals that were stored, written, or sent in the form of a secret code (= a system of letters, numbers, or symbols) back into a form that you can understand and use normally</span>
  <br><br>
<b>File</b><br>
  <span>Select a file with sensitive information and <b>encrypt</b> it with this web app.</span>
  <br><br>
  <b>Email</b><br>
  <span>Enter the recipient's email</span>

  <br><br>
  <b>You file encrypted</b><br>
  <span>After pressing <b>encrypt</b> button your encrypted file is stored on our server and sent on the recipient's email.</span>
  <br><br>
  <p><i>... still working on this page</i></p>

</main>
