<main class="container bg-light">
  <h3>Decrypt</h3>
  <hr>
  <div class="row">

    <div class="col-2">
      <label for="fileToDecrypt">Select File:</label>
    </div>

    <div class="col-2">
      <input type="file" id="fileToDecrypt">
    </div>

  </div>

  <div class="row">

    <div class="col-2">
      <label for="vectorialIndex">Vectorial Index:</label>
    </div>

    <div class="col-2">
      <input type="text" id="vectorialIndex">
    </div>

  </div>

  <div class="row">

    <div class="col-2">
      <label for="keyNumber">Key:</label>
    </div>

    <div class="col-2">
      <input type="text" id="keyNumber" accept=".enc">
    </div>

  </div>

  <div class="row">
  <div class="col">
    <button type="button" class="btn btn-outline-dark btn-sm">Decrypt</button>
  </div>
  </div>
</main>

