<main class="container bg-light">
  <h3>Encrypt</h3>
  <hr>

  <div class="row">
    <div class="col-3">
      <label for="fileToEncrypt">Select File:</label>
    </div>

    <div class="col-2">
      <input type="file" #fileToEncrypt
             (change)="insertFile($event)"
             [disabled]="selectedFile"
             id="fileToEncrypt"
             accept="audio/*,video/*,image/*,.txt,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx"
             required>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label for="recipientsEmail">Recipient's Email:</label>
    </div>

    <div class="col-2">
      <input type="email" #recipientsEmail
             id="recipientsEmail"
             (keyup)="checkValidForm()">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <button type="button"
              class="btn btn-dark btn-sm"
              [disabled]="isClearDisabled"
              (click)="clearForm()">Clear
      </button>
    </div>
    <div class="col-2">
      <button type="button"
              class="btn btn-success btn-sm"
              [disabled]="isConfirmDisabled"
              (click)="onConfirmForm()">Confirm Form
      </button>
    </div>
  </div>

  <hr>

  <div class="alert alert-info" role="alert" *ngIf="isEncryptionDone"> File encrypted successfully</div>
  <div class="alert alert-success" role="alert" *ngIf="isFileSaved"> File saved successfully</div>
  <div class="alert alert-danger" role="alert" *ngIf="isAnyError"> You already have a file added!</div>


  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 500px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [gridOptions]="gridOptions"
    [columnDefs]="gridOptions.columnDefs"
    [pagination]="true"
    [paginationPageSize]="10"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>

</main>







